/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
#element_to_pop_up { 
	display:none; 
	background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:400px;
    min-height: 180px;
}

.up-time {
  -vendor-animation-duration: 5s;
  -vendor-animation-delay: 5s;
  -vendor-animation-iteration-count: infinite;
}